.Top{
    color: Black;
    background-color: #FFD89C;
    padding: 5px;
}
.Main{
    text-align: center;
    background-color: #A2CDB0;
    padding: 5px;
}
.img1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.first-txt {
     position: relative;
     text-align: center;
}
.second-txt{
    color: white;
}